h1{
    text-align: center;
}
.container{
    font-family: 'Orbitron', sans-serif;
    margin-top: 3%;
}
.buttonClass{
    background-color : white;
    color: black;
    border: 3px solid violet;
    margin: 1%;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
};